<section>
    <h1>NBA CHAMPIONS</h1>
    <div class="container">
        <div class="container-team" *ngFor="let campeon of campeones">
            <a href={{campeon.url}}>

                <p class="title">{{campeon.year}}</p>
                <h2>{{campeon.name}}</h2>
                <img src={{campeon.img}} alt="">
                <h3>Best Players</h3>
                <ul *ngFor="let player of campeon.players">
                    <li>{{player}}</li>
                </ul>
            </a>

        </div>

    </div>
</section>